<div class="container p-4">
    <div class="row text-center">
        <div class="col-sm-12 page-title">
            Welcome, John Doe!
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 pt-5 pb-4">
            <app-home-button [buttonText]="'Add New Medication'" [buttonIcon]="'add'" [navLink]="'/medication-details'"></app-home-button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 pb-4">
            <app-home-button [buttonText]="'Consumption History'" [buttonIcon]="'timeline'" [navLink]="'/home'"></app-home-button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <app-home-button [buttonText]="'List of Medications'" [buttonIcon]="'summarize'" [navLink]="'/medication-list'"></app-home-button>
        </div>
    </div>
</div>